{{#compare viewName '==' 'categories'}}
<form id="set-date" class="navbar-form navbar-left">
  <div class="form-group">
    <div class="input-group input-daterange">
      <span class="input-group-addon" id="date-label">Date</span>
      <input type="text" name="start_date"
        class="form-control categories-dates"
        value="{{ startDate }}">
      <span class="input-group-addon">to</span>
      <input type="text" name="end_date"
        class="form-control categories-dates"
        value="{{ endDate }}">
    </div>
  </div>
</form>
{{/compare}}