<!DOCTYPE html>
<html>
  <head>
    <title>Not Another Budget App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
    {{{body}}}
    </div>
  </body>
</html>
