<h3>Categories</h3>

<ul class="list-group">
{{#categories totals}}
  <li class="list-group-item row row-flex">
    <div class="col-xs-6">
      <h4>{{ category }}</h4>
    </div>

    {{#each months}}
      <div class="col text-right">
        <span class="label label-default">{{ date }}</span><br />
        <strong class="small">{{ money amount }}</strong>
      </div>
    {{/each}}
  </li>
{{/categories}}
</ul>