<h3>Import</h3>

<div class="panel panel-default">
  <form action="/api/transactions/import" method="POST" class="panel-body">
    <div class="form-group">
      <label for="csv">Import CSV</label>
      <textarea class="form-control" name="csv" id="csv" rows="20"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Import Transactions</button>
  </form>
</div>