{{> transactions/new}}

{{> transactions/summary}}

<h3>
  Transactions
  {{#if category}}
  <small> :: {{ category }}</small>
  {{/if}}
</h3>
<ul class="list-group">
{{#each transactions}}
  {{> transactions/single}}
{{/each}}
</ul>