<li data-id="{{_id}}" class="list-group-item row">
  <div class="col-xs-2">
    <span class="label label-primary">{{category}}</span>
  </div>
  <div class="col-xs-5">
    <span>{{description}}</span>
  </div>
  <div class="col-xs-5 text-right">
    <strong>{{money amount}}</strong>
  </div>
</li>