<div class="panel panel-default">
  <div class="panel-heading">
    Transactions Summary
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-xs-4">
        <h5>Total Income</h5>
        <div class="h3">
          <span class="label label-success">
            {{ money totals.income }}
          </span>
        </div>
      </div>
      <div class="col-xs-4">
        <h5>Total Expenses</h5>
        <div class="h3">
          <span class="label label-danger">
            {{ money totals.expenses }}
          </span>
        </div>
      </div>
      <div class="col-xs-4">
        <h5>Total Remaining</h5>
        <div class="h3">
          {{#compare totals.all ">" 0}}
            <span class="label label-success">
          {{/compare}}
          {{#compare totals.all "<" 0}}
            <span class="label label-danger">
          {{/compare}}
          {{#compare totals.all "==" 0}}
            <span class="label label-default">
          {{/compare}}
            {{ money totals.all }}</span>
        </div>
      </div>
    </div>
  </div>
</div>