@import '../../Style/config';

.header {
  display: flex;
  margin: 2rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .header-nav-item {
    color: color(primary);
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;

    &:hover, &.active {
      color: color(secondary);
      text-decoration: underline;
    }
  }

  .header-logo {
    border: 1px dashed currentColor;
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 1;
    padding: 5px 8px;
  }
}
