// reset
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
}

// base
@import './config';
$body-background: color(gray, dark);
$body-text: color(gray, light);

body {
  background-color: $body-background;
  color: $body-text;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

// buttons
.button {
  border: 0;
  color: color(gray, light);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 3px 8px;
  text-align: center;

  &.primary {
    background-color: color(primary);
    &.link { color: color(primary); }
  }

  &.secondary {
    background-color: color(secondary);
    &.link { color: color(secondary); }
  }

  &.link {
    background-color: transparent;
    padding: 0;
    text-align: left;
    text-decoration: underline;
  }
}

a.link {
  background-color: transparent;
  color: $body-text;
  padding: 0;
  text-align: left;
  text-decoration: underline;

  &.primary { color: color(primary); }
  &.secondary { color: color(secondary); }
}
