/** UI Colors **/
// These variables are intended to be used to declare colors
// from your design. Feel free to change, add, or delete any
// colors here for your project.
//
// Usage:
//      color: $black;

$black: #000;
$white: #FFF;

$darker-gray: #1F1F1F;
$dark-gray: #333;
$gray: #666;
$light-gray: #CCC;
$lighter-gray: #DCDCDC;

$green: #3C3;
$red: #C33;

$darker-purple: #513961;
$dark-purple: #776980;
$purple: #96A;
$light-purple: #E7DDED;

$primary-color: $purple;
$body-bg: linear-gradient(to bottom, $light-purple, #fefefe);

/** Fonts and Text Sizing **/
// These are applied to the <html> and <body> tags in the
// body Sass partial.

$base-font-size: 16px;
$base-font-family: "Open Sans", sans-serif;

/** Margins and Content Sizing **/
// These define the relative spacing for all elements.
// In most cases these can be left default, but if your
// design calls for it feel free to change.

$gutter: 30px; // Consistent margins, padding, etc.
$wrapper: 1000px; // site wrapper max-width

/** Grid Breakpoints **/
// Feel free to change these if needed
$bpSmall: 650px;
$bpMedium: 800px;
